<h1>Preços</h1>
<hr>
    
<section>
    <div class="container">
        <div class="row col-md-12">

            <div class="col-md-4 text-center">
                <div class="panel panel-warning panel-pricing">
                    <div class="panel-heading">
                        <i class="fa fa-desktop"></i>
                        <h3>Plano A</h3>
                    </div>
                    <div class="panel-body text-center">
                        <p><strong>Grátis!</strong></p>
                    </div>
                    <ul class="list-group text-center">
                        <li class="list-group-item"><i class="fa fa-check"></i> Integração com Facebook</li>
                        <li class="list-group-item"><i class="fa fa-times"></i> Registro de domínio</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Hospedagem do site</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Suporte técnico</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Até 250 fotos</li>
                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-warning" href="#">ASSINE AGORA!</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="panel panel-primary panel-pricing">
                    <div class="panel-heading">
                        <i class="fa fa-desktop"></i>
                        <h3>Plano B</h3>
                    </div>
                    <div class="panel-body text-center">
                        <p><strong>R$ 59,90 / mês</strong></p>
                    </div>
                    <ul class="list-group text-center">
                        <li class="list-group-item"><i class="fa fa-check"></i> Integração com Facebook</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Registro de domínio</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Hospedagem do site</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Suporte técnico</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Até 5.000 fotos</li>
                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-primary" href="#">ASSINE AGORA!</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <div class="panel panel-success panel-pricing">
                    <div class="panel-heading">
                        <i class="fa fa-desktop"></i>
                        <h3>Plano C</h3>
                    </div>
                    <div class="panel-body text-center">
                        <p><strong>R$ 89,90 / mês</strong></p>
                    </div>
                    <ul class="list-group text-center">
                        <li class="list-group-item"><i class="fa fa-check"></i> Integração com Facebook</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Registro de domínio</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Hospedagem do site</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Suporte técnico</li>
                        <li class="list-group-item"><i class="fa fa-check"></i> Fotos ilimitadas</li>
                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-success" href="#">ASSINE AGORA!</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
